body {
  background: #14213d;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.star {
  position: absolute;
  color: #fca311;
  pointer-events: none;
  transition: transform 0.1s linear;
}

.star::before {
  content: "\f005";
  font-family: FontAwesome;
  text-shadow: 0 0 5px #fca311, 0 0 30px #fca311, 0 0 50px #fca311;
}
